<p style="color: green"></p>

<div class="card">
    <div class="card-header">
    <h4>Friend</h4>
    </div>
    <div class="card-body">
    <%= render @friend %>
    <div style="display:flex; gap: 10px;">
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %>
  
        <td>
          <%= link_to "Delete", @friend, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        </td>
</div>

    </div>
</div>

<br/>
<%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>

